*{
    font-family: SourceSansPro-Regular;
    src: url(SourceSansPro-Regular.ttf);
    margin:0;
    padding:0;
}

ul{
    list-style:none;
    text-align: center;
}

a{
animation: mymove 5s infinite;
}

li{
    font-size: 2em;
}

li a{
    color: white;
    background-color:#ff0000;
    display: block;     
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    text-decoration: none;
}

header{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%
}

h1{
    color:#ff0000;
    text-align: center;
    font-family: SourceCodePro-Regular;
    src: url(SourceCodePro-Regular.ttf);
    font-size:2em;
    padding-bottom: 0.3em;
    
}

h2{
    padding-top:5em;
    text-align: center;

}

p {
    padding-top: 4em;
    font-size: 2em;
    text-align: center;
}


.terug img{
    width: 35px;
    height: 28px;
    position: absolute;
    margin-left: 10%;
    top:4em;
}

.vlag img{
    width: 35px;
    height: 28px;
    position:absolute;
    margin-left: 90%;
    top:4em;
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7em;
    height:4em;
}

.information{
    color:white;
    background-color:#ff0000;
    margin-top:0.5em;
    padding:0.3em;
    font-size: 1.3em;
}

.options li a{
    color:white;
    background-color: black;
    font-size: 0.66em;
    text-align: left;
    margin:1em;
}

.options p{
    padding:0.2em;
    font-size:1em;
    text-align: left;
}

.options li a h3{
    color:#ff0000;
    text-align: left;
    font-size:1.6em;
    font-family: SourceCodePro-Regular;
    src: url(SourceCodePro-Regular.ttf);

}

.click{
    float: right;
    width:1em;
    height:1.3em;
    margin:-1em;
    padding:0.4em;
    align-content: right;
}

main#ah{
    background-image: url(http://www.helftheuvel.com/sites/helftheuvel.com/files/fotos/201905/AH%202019.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    margin-top:9em;
    padding: 1em;
}

.explanation{
    font-size: 0.5em;
    background-color: rgba(0,0,0,0.86);
    color:white;
    margin: 2em;
    padding: 2em;
    align-content: left;
}

#ah p{
    text-align: left;
}

#ah a{
    color:#ff0000;
    text-decoration: none;
}

#ah a:hover{
    color: #179EDA;
}

h3{
    color: #ff0000;
    font-family: SourceCodePro-Regular;
    src: url(SourceCodePro-Regular.ttf);
    font-size:3em;
}


