@viewport{
    zoom:1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width:extend-to-zoom;
    zoom: 1.0;
}

@font-face{
    font-family: SourceSansPro-Regular;
    src: url(fonts/SourceSansPro-Regular.ttf)
}

*{
    font-family: SourceSansPro-Regular;
    src: url(fonts/SourceSansPro-Regular.ttf);
    margin:0;
    padding:0;
}


body{
    min-height:400px;
    margin-top:3%;
}

ul{
    list-style:none;
    text-align: center;
}

li{
    font-size: 2em;
}

li a{
    color: white;
    background-color:#ff0000;
    display: block;     
    margin: 1em;
    padding: 1.5em;
    border-radius: 25px;
    text-decoration: none;
}

header{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    min-height:100px;
}

h1{
    color:#ff0000;
    text-align: center;
    font-family: SourceCodePro-Regular;
    src: url(fonts/SourceSansPro-Regular.ttf);
    font-size:3em;
    padding-bottom: 0.3em;
}

h2{
    padding-top:6em;
    text-align: center;
    font-size: 2em;;

}

p {
    padding-top: 1em;
    font-size: 2em;
    text-align: center;
}


.terug img{
    width: 50px;
    height: 40px;
    position: absolute;
    margin-left: 2%;
    top:1em;
}

.vlag img{
    width: 50px;
    height: 40px;
    position:absolute;
    margin-left: 85%;
    top:1em;
}

img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7em;
    height:4em;
}

.information{
    color:white;
    background-color:#ff0000;
    margin-top:0.5em;
    padding:0.3em;
    font-size: 1.3em;
}

.options li a{
    color:white;
    background-color: black;
    font-size: 0.66em;
    text-align: left;
    margin:1em;
}

.options p{
    padding:0.2em;
    font-size:1em;
    text-align: left;
}

.options li a h3{
    color:#ff0000;
    text-align: left;
    font-size:1.6em;
    font-family: SourceCodePro-Regular;
    src: url(fonts/SourceCodePro-Regular.ttf);

}

p.euros{
    color:#ff0000;
    font-family: SourceCodePro-Regular;
    src: url(fonts/SourceCodePro-Regular.ttf);
    font-size:1.5em
}

.click{
    float: right;
    width:1em;
    height:1.3em;
    margin:-1em;
    padding:1em;
    align-content: right;
}

main.choiceinfo{
    background-image: url(images/fruit.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    margin-top:9em;
    padding: 1em;
}

main.choiceinfo#cocos{
    background-image: url(images/cocktails.JPG);
}

.explanation{
    font-size: 0.5em;
    background-color: rgba(0,0,0,0.86);
    color:white;
    margin: 2em;
    padding: 2em;
    align-content: left;
}

.choiceinfo p{
    text-align: left;
}

.choiceinfo a{
    color:#ff0000;
    text-decoration: none;
}

.choiceinfo a:hover{
    color: #179EDA;
}

.choiceinfo#cocos a:hover{
    color:hotpink;
}

h3{
    color: #ff0000;
    font-family: SourceCodePro-Regular;
    src: url(fonts/SourceCodePro-Regular.ttf);
    font-size:3em;
}

